.main {
    background-color: #11141f;
    color: white;
}

label {
    color: white;
}

.card {
    background-color: #11141f;
    color: white;
    box-shadow: 0 20px 10px -20px rgba(255, 255, 255, 0.45) inset, 0 -20px 10px -20px rgba(255, 255, 255, 0.45) inset;

}