<br>
<div class="main"><br>
    <img src="/assets/bg2.jpg" alt="">


    <div class="bg-image">
        <img src="/assets/Bottom Image_03 - Copy - Copy.jpg" class="img-fluid " alt="Sample" />
        <img src="/assets/Bottom Image_03.jpg" class="img-fluid d-lg-none " alt="Sample" />
        <img src="/assets/Bottom Image_03.jpg" class="img-fluid  d-sm-none d-md-none" alt="Sample" />
        <img src="/assets/Bottom Image_03.jpg" class="img-fluid  d-sm-none d-md-none" alt="Sample" />
        <img src="/assets/Bottom Image_03.jpg" class="img-fluid   d-sm-none d-md-none" alt="Sample" />
        <div class="mask">
            <div class="d-flex justify-content-center h-100">
                <div class="r">
                    <div class="container">
                        <br><br><br>
                        <h2>About Us </h2>
                        <br>

                        <div class="row">
                            <h5>Our Story:</h5><br><br>
                            <div class="col-lg-6 col-md-12">

                                <p>It was back in 2010, when I first heard about Whey Protein during one of my Gymming
                                    sessions. While
                                    the Gym
                                    was a
                                    buzz with discussions of Whey Proteins and the ultimate muscle gainers, A quick
                                    enquiry with my
                                    local store
                                    made
                                    me realise that not much was truly known about the product. Many visits, to many
                                    stores later, I
                                    realised
                                    that
                                    that even some of the best sporting goods and supplements stores did not truly offer
                                    much in the way
                                    of
                                    product
                                    information for their customers. So I simply set out to research what these
                                    seemingly magic protein
                                    shakes
                                    were
                                    all about because I definitely didn't want to be consuming something without knowing
                                    what I was
                                    having.
                                </p>

                                <p>
                                    <br>
                                    My passion for a healthy lifestyle had evolved to one where I wanted to share the
                                    knowledge and
                                    empower with
                                    people around me. An idea began to take root - a start up, a forum, a place where I
                                    would share my
                                    knowledge
                                    with consumers just like me. In April 2012, I started a franchisee of Fittgold in
                                    Pune. Fittgold a
                                    Mumbai
                                    based
                                    supplements store, dissolved business in Sept 2015. On sole proprietorship, FITTCITI
                                    (Synergy
                                    Supplement)
                                    was
                                    established on 1st October 2015.
                                    <br><br>
                                </p>
                            </div><br>
                            <div class="col-lg-6 col-md-12">
                                <div class="container">
                                    <img src="/assets/story.jpg" alt="">
                                </div>
                            </div><br>
                        </div>
                        <br>

                        <div class="container  fr">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">

                                    <figure class="snip1256">
                                        <img src="/assets/Our Mission.jpg" alt="sample42" />
                                        <figcaption>
                                            <h5>Our Mission</h5>
                                            <p>At the core of Fittciti is a simple yet powerful mission: to empower
                                                individuals on their path to a healthier, happier life.
                                            </p>
                                            <p class="Qa">We believe that everyone deserves access to high-quality supplements and
                                                the knowledge to make informed choices about their well-being.</p>
                                        </figcaption>
                                    </figure>
                                    <h5 class="text-center">Our Mission</h5>
                                </div><br>


                                <div class="col-lg-4 col-md-6">

                                    <figure class="snip1256 ">
                                        <img src="/assets/Quality Assurance.jpg" alt="sample22" />
                                        <figcaption>
                                            <h5>Quality Assurance</h5>
                                            <p>We prioritize your well-being by ensuring that every product tested for
                                                quality and safety. Our commitment to excellence means you can trust the
                                                supplements you find here. </p>
                                            <p class="Qa">We understand that your health is
                                                non-negotiable. That's why we uphold the highest standards of quality
                                                products.</p>
                                        </figcaption>
                                    </figure>
                                    <h5 class="text-center">Quality Assurance</h5>
                                </div><br>


                                <div class="col-lg-4 col-md-6">
                                    <figure class="snip1256">
                                        <img src="/assets/Diverse Range of Products_Website.jpg" alt="sample20" />
                                        <figcaption>
                                            <h5>Diverse Range of Products</h5>
                                            <p>Your health journey is as unique as you are. That's why we offer a
                                                diverse range of products to cater to various needs.
                                                Whether you're looking for essential vitamins, sports nutrition.
                                            </p>
                                            <p class="Qa">herbal supplements we have all the range you are looking for.
                                                Fittciti is one-stop destination for quality solutions.</p>
                                        </figcaption>
                                    </figure>
                                    <h5 class="text-center">Diverse Range of Products</h5>
                                </div><br>
                            </div>
                        </div>

                        <br>
                        <br><br><br><br>
                        <div class="imagelast">
                            <img src="/assets/Banner_Image.jpg" alt="">
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>