.main {
    /* background-image: url('/assets/Bottom Image_03.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* backgro    und-color: #11141f;
    background-blend-mode: darken; */
    color: white;
}

.Qa {
    display: block;
}

img {
    width: 100%;
}

.fr {
    margin-bottom: -15rem;
}

figure.snip1256 {
    /* font-family: "Raleway", Arial, sans-serif; */
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    /* min-width: 220px;
    max-width: 310px;
    max-height: 220px; */
    width: 100%;
    color: #ffffff;
    text-align: left;
    background-color: rgba(255, 123, 0, 0.658);
    font-size: medium;
    -webkit-perspective: 50em;
    perspective: 50em;
}

figure.snip1256 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

figure.snip1256 img {
    opacity: 1;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

figure.snip1256 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% -50%;
    -ms-transform-origin: 50% -50%;
    transform-origin: 50% -50%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
}

figure.snip1256 h3,
figure.snip1256 p {
    line-height: 1.5em;
}

figure.snip1256 h3 {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

figure.snip1256 p {
    font-size: 1em;
    font-weight: 500;
    /* margin: 0 0 15px; */
    text-align: justify;
    overflow: auto;

}

figure.snip1256 .read-more {
    border: 2px solid #ffffff;
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

figure.snip1256 .read-more:hover {
    background-color: #ffffff;
    color: #000000;
}

figure.snip1256:hover img,
figure.snip1256.hover img {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
}

figure.snip1256:hover figcaption,
figure.snip1256.hover figcaption {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

p {
    text-align: justify;
}

.p {
    overflow-y: scroll;
}

.r {
    margin-bottom: 55rem;
}

@media(max-width:439px) {
    .r {
        padding-bottom: 20rem;
    }

    .imagelast {
        margin-top: 40%;
        display: block;
    }

}

.imagelast {
    margin-top: 15%;
    height: 100%;
}

/* .imagelast img {
    height: 300px;
} */

@media(max-width:768px) {
    .imagelast {
        /* display: none; */
    }

    .Qa {
        display: none;
    }
}


@media(max-width:1024px) {
    .imagelast {
        /* display: none; */
        height: 2rem;
    }

    .Qa {
        display: none;
    }
}

@media(max-width:1440px) {
        .imagelast{
            height: 3rem;
        }
}