<div class="main">
    <br><br><br>
    <div class="container">
        <div class="row ">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a href="" [routerLink]="['/Gnc']"> <img src="/assets/brand/gnc-logo-png.png" alt=""></a>
            </div><br>
            <!-- <div class="col-sm-2">
                <a href="" [routerLink]="['/Healthfarm']"> <img src="/assets/brand/8.png" alt=""></a>
            </div><br> -->
            <div class="col-sm-2">
                <a href="" [routerLink]="['/Muscleblaze']"> <img src="/assets/brand/12 - Copy.jpg" alt=""></a>
            </div><br>
            <div class="col-2">
                <a href="" [routerLink]="['/In2']"> <img src="/assets/brand/5.JPG" alt=""></a>
            </div><br>
            <div class="col-2">
                <a href="" [routerLink]="['/Healthinnva8']"><img src="/assets/brand/Health_I_Logo.png" alt=""></a>
            </div><br>
            <div class="col-2">
                <a href="" [routerLink]="['/Muscletech']"> <img src="/assets/brand/10.png" alt=""></a>
            </div><br>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br>
</div>