<br>
<!-- <br><app-navbar2 class="dis"></app-navbar2> -->

<div class="bg-image">
    <img src="/assets/Banner_001.jpg" class="img-fluid" alt="Sample" />
    <div class="mask">
        <div class="d-flex justify-content-center h-100">
            <div class="r">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/assets/Artboard 1 copy.png" alt="">
                                </div>
                            </div><br>
                        </div><br>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/assets/Artboard 1 copy 2.png" alt="">
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/assets/Artboard 1 copy 3.png" alt="">

                                </div>
                            </div>
                        </div><br>
                    </div>
                    <br>
                </div>
            </div>
            <br>
        </div>
    </div>

</div>

<!-- 
<div class="main2">
    <div class="container">
        <img class="imges" src="/assets/h1.png" alt="">
    </div>
</div> -->

<div class="main2">
    <br><br>
    <div class="container ">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active" data-bs-interval="1000">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container">
                                    <a href="" [routerLink]="['/brands/gnc']">
                                        <img src="/assets/slider/GNC_Best sellers_product.png" alt="">
                                    </a>
                                </div>
                            </div><br>
                            <div class="col-md-6">
                                <div class="container">
                                    <a href="" [routerLink]="['/brands/muscleblaze']">
                                        <img src="/assets/slider/GNC_Best-sellers_product_SliderArtboard-2.png" alt="">
                                        <br>
                                    </a>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container">
                                    <a href="" [routerLink]="['/brands/optimumnutrition']">
                                        <img src="/assets/slider/GNC_Best-sellers_product_SliderArtboard-3.png"
                                            alt=""><br></a>
                                </div><br>
                            </div><br>
                            <div class="col-md-6">
                                <div class="container">
                                    <a href="" [routerLink]="['/brands/build']">
                                        <img src="/assets/slider/GNC_Best-sellers_product_SliderArtboard-5.png"
                                            alt=""><br>
                                    </a>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>

                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> -->
            </div>
        </div>
    </div>

    <div class="main4">
        <div class="container">
            <br>
            <div class="text-center">
                <h1>Products</h1>
            </div><br>
            <br>
            <!-- <app-nav2></app-nav2> -->

            <!-- <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Vitamins</h3>
                        <br>
                        <p>Boost your overall well-being with our range of essential vitamins.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Sports Nutrition</h3>
                        <br>
                        <p>Elevate your fitness journey with high-quality sports supplements.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Herbal Supplements</h3>
                        <br>
                        <p>Harness the power of nature with our herbal offerings.</p>
                    </div>
                </div>
            </div><br>
        </div> -->
            <br>
            <br><br>


            <div class="row">
                <div class="col-4">
                    <div class="text-center">
                        <h3>Brands</h3>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img [routerLink]="['/Insanelabz']" src="/assets/brand/1.png" alt="">
                                </div><br>

                                <div class="col-lg-6 col-md-6">
                                    <img [routerLink]="['/Dymatize']" src="/assets/brand/7.png" alt="">
                                </div><br>

                                <div class="col-lg-6 col-md-6"> <br>
                                    <img [routerLink]="['/Gnc']" src="/assets/brand/gnc-logo-png.png" alt="">
                                </div><br>

                                <div class="col-lg-6 col-md-6"><br>
                                    <img [routerLink]="['/In2']" src="/assets/brand/5.JPG" alt=""><br>
                                </div><br>

                                <div class="col-lg-6 col-md-6"> <br>
                                    <img [routerLink]="['/Muscletech']" src="/assets/brand/10.png" alt="">
                                </div><br>

                                <div class="col-lg-6 col-md-6"> <br>
                                    <br> <img [routerLink]="['/Muscleblaze']" src="/assets/brand/12.webp" alt="">
                                </div><br>

                                <div class="col-lg-6 col-md-6"> <br>
                                    <img [routerLink]="['/OptimumNutrition']" src="/assets/brand/13.png" alt="">

                                </div><br>

                                <div class="col-lg-6 col-md-6"> <br>
                                    <img [routerLink]="['/Roniniecoleman']" src="/assets/brand/15.png" alt="">
                                </div><br>

                                <div class="col-lg-6 col-md-6"> <br>
                                    <img [routerLink]="['/Healthinnva8']" src="/assets/brand/Health_I_Logo.png" alt="">
                                </div><br>

                                <div class="col-lg-6 col-md-6"> <br>
                                    <img [routerLink]="['/Bsn']" src="/assets/brand/2.png" alt="">

                                </div><br>


                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div><br>

                <div class="col-8">
                    <div class="row">
                        <div class="text-center">
                            <h3>Sale</h3><br>
                        </div>
                        <br><br><br>
                        <div class="row">
                            <div class=" col-lg-4 col-md-6" *ngFor="let p of productList, let i= index ">
                                <div class="container">
                                    <div class="card">
                                        <div class="">
                                            <!-- <div class="text-end">
                                                <i class="fa-solid fa-heart fa-xl"
                                                    [ngStyle]="{'color':liked ? 'red':''}"
                                                    (click)="toggleliked(this.Product_id)"></i>
                                            </div> -->
                                            <a href="" [routerLink]="['/viewproduct',p.id]"> <img [src]="p.image"
                                                    style="width: 100%;" alt=""></a>
                                            <div class="card-body">
                                                <!-- <p>{{p.Product_Name}} <br> <span>{{p.Weight}}</span></p> -->
                                                <!-- <img [src]="p.image" alt=""> -->
                                                <p style="font-size: 13px;"><b>{{p.Product_Name}}</b></p>
                                                <p style="font-size: small;">{{p.Weight}} <span
                                                        style="float: right;">&#8377;<s style="color: red;">
                                                            {{p.Price}}</s></span></p>
                                                <!-- <p style="font-size: small;"></p> -->
                                                <p style="font-size: small;">&#8377; {{p.pricewithdiscount}}</p>
                                                <!-- <p>Rs {{p.Price}} </p> -->
                                                <button class="btn btn-secondary"><i class="fa-solid fa-cart-plus fa-lg"
                                                        (click)="addToCart(p)"></i>
                                                    Add To Cart</button>
                                            </div>
                                        </div>
                                    </div> <br>
                                </div>
                            </div> <br>
                        </div>
                    </div>
                </div><br>
            </div>
        </div>
        <br>
        <br>
    </div>

    <!-- 
<div class="main5">
    <div class="container">
        <div class="text-center">
            <h1>Shop</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/i.png" class="card-img-top" alt="..."> <br>
                        <br>
                        <h5 class="text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                    </div>
                </div>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="card">

                    <div class="card-body">
                        <img src="/assets/i.png" class="card-img-top" alt="..."> <br>
                        <br>
                        <h5 class="text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                    </div>
                </div>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="card">

                    <div class="card-body">
                        <img src="/assets/i.png" class="card-img-top" alt="..."> <br>
                        <br>
                        <h5 class="text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                <br>
            </div><br>
        </div>
    </div>
    <br>
    <br>
</div> -->


    <div class="main6">
        <div class="container">
            <div class="text-center">
                <h1 class="gradient-text"> Why Choose Fittciti? </h1>
                <br>
                <h3>Quality You Can Trust</h3>
                <br>
                <p>At Fittciti, your well-being is our top priority. Here are compelling reasons to choose us as your
                    go-to
                    destination for supplements:</p>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <ul>
                        <li class="animate__animated animate__backInLeft">Premium Quality Products</li>
                        <li class="animate__animated animate__backInLeft">Expert Guidance</li>
                        <li class="animate__animated animate__backInLeft">Diverse Range of Products</li>

                    </ul>

                </div><br>
                <div class="col-md-4">
                    <ul>
                        <li class="animate__animated animate__backInRight">Customer-Centric Approach</li>
                        <li class="animate__animated animate__backInRight">Community and Support:</li>
                        <li class="animate__animated animate__backInRight">Transparent Business Practices</li>
                    </ul>
                </div><br>
            </div>
        </div>
        <br>
    </div>


    <div class="main3">
        <div class="container">
            <br>
            <h1>FAQS</h1> <br>
            <div class="container">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <h5>What types of supplements do you offer?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">We offer a wide range of Branded supplements to support various
                                health and wellness goals, including vitamins, minerals, herbal supplements, and sports
                                nutrition products.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <h5>Are your supplements suitable for vegetarians or vegans?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">We offer a selection of vegetarian and vegan-friendly
                                supplements.
                                Look for specific product labels or check the product descriptions for dietary
                                information.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                <h5>What Shipping Methods Are Available?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos tempora
                                doloremque
                                possimus ullam molestiae labore obcaecati eligendi ab. Ex quidem vitae voluptas
                                laboriosam,
                                aliquam fuga nemo iste repudiandae doloribus?
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsefour" aria-expanded="false"
                                aria-controls="flush-collapsefour">
                                <h5>How can I find you?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapsefour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                You can check on to Facebook, Instagram as Fittciti.in or you can
                                use google and google map to locate our store. </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsefive" aria-expanded="false"
                                aria-controls="flush-collapsefive">
                                <h5>How Do I Track My Order? </h5>
                            </button>
                        </h2>
                        <div id="flush-collapsefive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil
                                magni, ipsa voluptas aliquam iste impedit corporis neque eos earum quia. Harum debitis
                                quos
                                nemo ab suscipit blanditiis nisi deserunt? Labore. </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsesix" aria-expanded="false"
                                aria-controls="flush-collapsesix">
                                <h5>What Payment Methods Are Accepted?
                                </h5>
                            </button>
                        </h2>
                        <div id="flush-collapsesix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Mostly all Online Payment methods which is available in our
                                Nation
                                is accepted by our Website's Payment Getaway. Or Else visit our store with cash.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseseven" aria-expanded="false"
                                aria-controls="flush-collapseseven">
                                <h5>What is your return policy?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseseven" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Please check our policy page section to know more.
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseeight" aria-expanded="false"
                                aria-controls="flush-collapseeight">
                                <h5> How can I contact customer support?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseeight" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">You can reach our customer support team through email at
                                customersupport@fittciti.in, via phone at 020 4124 2513, or you can visit ouur store at
                                Optimus, Shop no. 3, B-Wing, Lane no. 15, Mhada Road, Opp. Lunkad Queensland Society,
                                Vimannagar, Pune 411014, Pune, India, Maharashtra. Our team is here to assist you with
                                any
                                questions or concerns. </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsenine" aria-expanded="false"
                                aria-controls="flush-collapsenine">
                                <h5> Do you provide nutritional advice or consultations?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapsenine" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">While we don't offer personalized consultations, our blog
                                contains
                                educational content on health and wellness topics. For specific health concerns, we
                                recommend consulting with a healthcare professional. </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
    </div>