<br><br><br>
<ng-container *ngIf="products.length != 0 ">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><b>Sr.No </b> </th>
          <th scope="col"><b>Product Name </b> </th>
          <th scope="col"><b>Price </b> </th>
          <th scope="col"><b>Discount Price </b> </th>
          <th scope="col"><b>Quantity </b> </th>
          <th scope="col"><b>Total </b> </th>
          <th scope="col"><b>Action </b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.Product_Name}}</td>
          <!-- <td> <img style="width: 120px;" src="{{item.image}}" alt=""> </td> -->
          <!-- <td style="width: 25%;" >{{item.description}}</td> -->
          <th >{{item.Price}}</th>
          <td >{{item.pricewithdiscount}}</td>
          <td >{{item.Quantity}}</td>
          <td >{{item.Total}}</td>
          <td><button (click)="removeItem(item)" class="btn btn-danger"><i class="bi bi-trash3"></i></button></td>
        </tr>
        <tr>
          <td colspan="1"></td>
          <td> <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button> </td>
          <td> <button [routerLink]="['/product']" class="btn btn-primary">Shop More</button> </td>
          <p>You Save your <b> {{Savers}}</b> Rupee</p>
          <!-- <td> <button class="btn btn-success">Checkout</button> </td> -->
          <td><strong>Total : ${{T}}</strong></td>
          <!-- <button (click)="paynow()">Pay <span><strong>Total Price With Discount : ${{grandTotal}}</strong></span> </button> -->
          <td><strong>Total Price With Discount : ${{grandTotal}} <span><button class="btn btn-primary"
                  (click)="paynow()">Pay</button></span></strong></td>
        </tr>

      </tbody>
    </table>
  </div>

</ng-container>

<!-- <ng-container *ngIf="products.length == 0" [routerLink]="['/product']">

</ng-container> -->

<!-- <ng-container *ngIf="products.length == 0">
  <div class="card text-bg-dark" style="width: 34rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzSvgClAcM6AcRgKgFjE30AdTYWJitkZsMOA&usqp=CAU"
      alt="">
    <div class="card-img-overlay">
      <h5 class="card-title">My Cart</h5>
    </div>
    <p class="card-text">Cart is Empty!!!</p>
    <div style="display: flex; justify-content: space-around;">
      <button routerLink="product" class="btn btn-info">Shop Now</button>
    </div>
  </div>
</ng-container> -->