<div class="main">
    <footer>
        <div class="container">
            <div class="text-center"><br>

                <p class="text-center" style="text-align: justify; font-weight: 400;">
                    At FittCiti, we're dedicated to helping you achieve your health and wellness goals with premium
                    selection of supplements.
                    <br> Explore wide range of products designed to support your journey to a healthier
                    and happier lifestyle.
                </p>
            </div>
            <br>
            <div class="row">

                <div class="col-lg-2 col-md-6">
                    <img [routerLink]="['/']" src="/assets/logo.png" alt=""><br><br>
                </div><br>

                <div class="col-lg-2 col-md-6">
                    <ul style="list-style: none;">
                        <h5>Links</h5><br>
                        <li (click)="scroll()" [routerLink]="['/refund']"> Refund Policy </li>
                        <li (click)="scroll()" [routerLink]="['/privacy']"> Privacy Policy </li>
                        <li (click)="scroll()" [routerLink]="['/term']"> Terms & Conditions </li>
                        <li (click)="scroll()" [routerLink]="['/delivery']">Delivery Policy </li>
                    </ul>
                    <br>
                </div><br>

                <div class="col-lg-2 col-md-6">
                    <ul style="list-style: none;">
                        <h5>Quick Link</h5><br>
                        <li (click)="scroll()" [routerLink]="['/home']">Home</li>
                        <li (click)="scroll()" [routerLink]="['/product']">Product</li>
                        <li (click)="scroll()" [routerLink]="['/about']">About</li>
                        <li (click)="scroll()" [routerLink]="['/testimonials']">Testimonials</li>
                        <li (click)="scroll()" [routerLink]="['/contact']">Contact Us</li>
                    </ul>
                </div><br>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <h5>Contact Us</h5>
                        <br>
                        <p><b>PHONE NUMBER : </b>020 4124 2513 </p>
                        <P><b>EMAIL : </b>customersupport@fittciti.in</P>
                        <p><b>Address : </b>Optimus, Shop no. 3, B-Wing, Lane no. 15, Mhada Road, Opp. Lunkad Queensland
                            Society, Vimannagar, Pune 411014, Pune, India, Maharashtra</p>


                    </ul>
                </div><br>
            </div>
            <hr>
            <div class="text-center">
                <p>© 2023 Fittciti. All Rights Reserved.</p>
            </div>
            <br>
        </div>
    </footer>
</div>