<div class="main"><br><br>
    <div class="container">
        <br><br>
        <div class="checkout">
            <h1>Checkout</h1>
            <div class="row">
                <div class="col-sm-7">
                    <h3>Add shipping address</h3>



                    <!-- <p class="message-p">{{orderMsg}}</p> -->
                    <form #orderData="ngForm" class="common-form" (ngSubmit)="(orderData.value)">
                        <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel />
                        <br>
                        <input type="text" class="form-input" name="address" placeholder="Enter User Address"
                            ngModel /><br>
                        <input type="text" class="form-input" name="contact" placeholder="Enter contact details"
                            ngModel /> <br>
                        <button class="form-button" [routerLink]="['/order']">Order Now</button>
                    </form>
                </div>
                <div class="col-sm-5">
                    <h3>Total Amount: {{grandTotal}}</h3>
                    <h4>Payment Method : <b>Pay on delivery</b></h4>
                    <button class="btn btn-success" (click)="paynow()">Pay Now</button>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>