<div class="main"><br><br><br>
    <div class="container">
        <br><br><br>
        <div class="text-center">
            <h2 style="color: #24b4e8; ">Testimonials</h2>
            <br>
        </div>
        <br><br>
        <div class="row c">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3 text-center">
                                        <div class="card-body">
                                            <div class="row g-0"> <br><br>

                                                <h5 class="mb-3">Subhash Thapa </h5>
                                                <p>Kharadi</p>
                                                <p class="text">
                                                    I have visited many stores in
                                                    Pune but this is the store where I found myself more satisfied and
                                                    trustworthy as it delivers 100% GENUINE Supplement to the customer
                                                    and the most importantly, the staffs are very helpful and good in
                                                    behavior.
                                                </p>

                                                <ul
                                                    class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                <div class="col-lg-6 d-none d-lg-block">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="row g-0"> <br><br>
                                                <h5 class="mb-3">
                                                    Nitin Chodhari</h5>
                                                <p>Vimannagar, Pune</p>
                                                <p class="text">
                                                    I was looking for geneuin (original) product in an around Viman
                                                    nagar. I visited some places to check some fat burners but I was not
                                                    convinced with the product in other stores. I usually look for built
                                                    quality of bottle and read bar code. Fake product build quality is
                                                    not very good. Also keep bar code scanner in your mobile. When you
                                                    scan code it should take to the product info if you search on Web. I
                                                    did all checking before buying. I am using fat burner METHYLDRENE
                                                    original 25 EPHEDRA, I recommend to buy from Fittciti. But please
                                                    make sure you do all checks before buying.
                                                </p>

                                                <ul
                                                    class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="row g-0"> <br><br>

                                                <h5 class="mb-3">Manoj Salve </h5>
                                                <p>Vimananagar, Pune </p>
                                                <p class="text">The Best Supplement Store(Protein Powder, Muti-
                                                    vitamins, Fish oil etc.) in Pune East area (Viman Nagar, Kalyani
                                                    Nagar, Koregaon Park, Lohegaon, Dhanori, Wagholi).Guaranteed Genuine
                                                    high quality Indian and International Brand products available here
                                                    at Fittciti. They also provide home delivery across India. The store
                                                    is located in Viman Nagar, Pune.
                                                </p>

                                                <ul
                                                    class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                <div class="col-lg-6 d-none d-lg-block">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="row g-0"> <br><br>
                                                <h5 class="mb-3">Rohit Chavan</h5>
                                                <p>Vimananagar, Pune </p>
                                                <p class="text">
                                                    I has Purchased all Syplyments regarding Gym by Fitciti VIMANNAGAR
                                                    brach past Since last 3 year. All are genuine and authentic. This
                                                    are really helpful for my fitness goal achievement make better and
                                                    easy. Their staff is very well educated and helpful nature. Thanks
                                                    Fitciti
                                                </p>
                                                <ul
                                                    class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="row g-0"> <br><br>

                                                <h5 class="mb-3">Priyanka Dutta</h5>
                                                <p>Vimannagar , Pune</p>
                                                <p class="text">I’ve been buying my protein supplements from
                                                    Fitciti for last 3+ years. Reasonable price, good quality of the
                                                    products, absolutely professional, transparent and polite behaviour
                                                    of the sellers, fast delivery. Thank you so much Fitciti.
                                                </p>

                                                <ul
                                                    class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                <div class="col-lg-6 d-none d-lg-block">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="row g-0"> <br><br>

                                                <h5 class="mb-3">Aditya Chouhan</h5>
                                                <p> Vimannagar</p>
                                                <p class="text">Excellent customer service. Fittciti do home
                                                    delivery too. Using their service for over a year now. Variety of
                                                    options too. Strongly recommend for authentic products.
                                                </p>

                                                <ul
                                                    class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                    <li><i class="fas fa-star fa-sm"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> -->
            </div>
        </div>
        <br><br>
    </div>
</div>


